
<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Anyar Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="{%static 'css/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="{%static 'css/assets/css/style.css'%}" rel="stylesheet">
  <link href="{%static 'css/product.css'%}" rel="stylesheet">




</head>

<body>



  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">WorkON</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href=index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->



    </div>


  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>WORKON</span></h2>
          <p class="animate__animated animate__fadeInUp">WORKON is an online platform for workers that is unemployed or searching for more opportunities as well as the people who is searching for workers like carpenters, plumbers, mechanics, etc. WORKON provides experienced, responsible and polite workers for everyone. </p>
          <a href="{%url 'login'%}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Looking for Workers</a>
            <a href="{%url 'worker-login'%}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Register As Employee</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>
    </div>

      {%block body_block%}


      {%endblock%}






</body>

</html>